.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-spinner {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #00A5E0;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}
.loading-spinner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, #65084e);
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
}
.loading-spinner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 45%;
    width: 20px;
    height: 20px;
    background-color: #EF9CDA;
    border-radius: 50%;
    box-shadow:
    0 0 10px #EF9CDA,
    0 0 20px #EF9CDA,
    0 0 30px #EF9CDA,
    0 0 40px #EF9CDA,
    0 0 50px #EF9CDA;
}
.loading-spinner span {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    background-color: #00A5E0;
    border-radius: 50%;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}