.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;
    width: 90%;
    margin: auto;
}

.service-title {
    text-align: center;
    border-bottom: 3px solid #00ad09;
    width: 400px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 45px;
        width: 90%;
        margin: auto;
    }
    .service-title {
        width: 200px;     
    }
}